<!DOCTYPE html>
<html>
<head><title>Expediente</title></head>
<body>
    <h1>Paciente: <%= cliente.nombreDelCliente %></h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>Muestra</th><th>Personal</th><th>Resultado</th><th>Estado Muestra</th>
        </tr>
        <% historial.forEach(h => { %>
            <tr>
                <td><%= h.tipoMuestra %></td>
                <td><%= h.nombreEmpleado %></td>
                <td>
                    <%= h.resultadoExamen %> 
                    <% if(h.idExamen) { %> <a href="/examenes/editar/<%= h.idExamen %>">[✏️]</a> <% } %>
                </td>
                <td>
                    <%= h.estadoMuestra %> <a href="/muestras/editar/<%= h.idMuestra %>">[✏️]</a>
                </td>
            </tr>
        <% }) %>
    </table>
    <br><a href="/">Volver</a>
</body>
</html>